:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-sans: Inter, Helvetica, sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mesh-bg: url('/static/mesh-gradient.png');

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  /* JS Grayscale Colorset */
  --black-color: #2c3e50;
  --blue-black-color: #34495e;
  --dark-grey-color: #7f8c8d;
  --md-grey-color: #95a5a6;
  --light-grey-color: #bdc3c7;
  --off-white-color: #ecf0f1;
  --white-color: #ffffff;

  /* JS Rainbow Colorset */
  --dark-red-color: #c0392b;
  --red-color: #e74c3c;
  --dark-orange-color: #e67e22;
  --orange-color: #f39c12;
  --dark-yellow-color: #f1c40f;
  --yellow-color: #fff200;
  --dark-teal-color: #006266;
  --teal-color: #079992;
  --dark-green-color: #009432;
  --green-color: #20bf6b;
  --dark-purple-color: #40407a;
  --purple-color: #706fd3;
  --dark-blue-color: #1e3799;
  --blue-color: #0652dd;

  /* Mesh colorset */
  /* white #FFFFFF */
  --sage-green-color: #b9dfc7;
  --sand-beige-color: #fbf6e9;
  --grey-blue-color: #afc8de;

  /* General styling */
  --line-height: 1.4;
  --border-radius: 0.5rem;
  --default-transition: 0.3s ease-in-out;
  --default-box-shadow: 5px 6px 5px -1px rgba(194, 186, 194, 1);
  --text-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);

  /* Site Color Palette */
  --text-black: var(--black-color);
  --text-white: var(--white-color);
  --text-blue: var(--dark-blue-color);
  --link-blue: var(--blue-color);
  --text-green: var(--dark-green-color);

  /* Breakpoints: */
  /* sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl min-width: 1536px; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

body {
  color: var(--black-color);
  background: var(--mesh-bg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

main,
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

a {
  color: var(--link-blue);
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  transition: var(--default-transition);
}

button,
.btn {
  /* border-radius: var(--border-radius); */
  border: 2px solid var(--white-color);
  color: var(--white-color);
  background-color: var(--teal-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  box-shadow: var(--default-box-shadow);
  margin: 0.5rem 0;
}

a:hover {
  text-decoration: underline;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  border-color: var(--teal-color);
  color: var(--teal-color);
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 1280px) {
  main,
  .main {
    padding: 6rem;
  }
}
