.aboveFold {
  display: flex;
  width: 100vw;
  padding: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

.heroImage {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 1;
  display: block;
}

.bannerErrMsgContainer {
  text-align: left;
  width: 100%;
  padding-left: 0.75rem;
  color: var(--red-color);
  font-size: 1.25rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid,
.cardLayout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: var(--max-width);
  max-width: 100%;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.card {
  justify-content: center;
}

.listHeader {
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding: 1rem 0;
  color: var(--text-teal);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* phone and Smaller Desktop */
@media (min-width: 350px) {
  .heroImage {
    scale: 0.5;
    top: 45%;
    right: -35%;
  }

  .aboveFold {
    margin-bottom: 0rem;
  }

  .bannerErrMsgContainer {
    padding-top: 15rem;
  }

  .listContainer {
    margin-top: 0rem;
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* TABLET */
@media (min-width: 640px) {
  .aboveFold {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .heroImage {
    top: 2%;
    scale: 0.6;
    right: -27%;
  }

  .grid,
  .cardLayout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: var(--max-width);
    max-width: 100%;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .bannerErrMsgContainer {
    padding-top: 5rem;
  }
}

/* LAPTOP */
@media (min-width: 1024px) {
  .aboveFold {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  .heroImage {
    top: 5%;
    right: 0;
  }

  .bannerErrMsgContainer {
    padding-top: 1.5rem;
  }

  .grid,
  .cardLayout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: var(--max-width);
    max-width: 100%;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
}

/* LAPTOP */
@media (min-width: 1280px) {
  .aboveFold {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .heroImage {
    top: 5%;
    right: 0;
  }

  .listContainer {
    margin-top: 3rem;
  }

  .content {
    padding: 4rem;
  }

  .grid,
  .cardLayout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: var(--max-width);
    max-width: 100%;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .bannerErrMsgContainer {
    padding-left: 2rem;
  }
}

/* Desktop/HD */
@media (min-width: 1536px) {
  .bannerErrMsgContainer {
    padding-left: 3rem;
  }
}
